{% extends 'usuarios/base.html' %}
{% load static %}


{% block title %} DIABETES {% endblock title %}



{% block content %}


<div class="page-section clearfix">
    <div class="container">
        <div class="intro">
            
        
            <form action="/resultado/" class="left-0 text-left bg-faded p-5 rounded" method="POST">{% csrf_token %}
                <h1 class="h3 mb-3 fw-normal text-center">Diagnosticar Diabetes</h1>
                <input class="form-control"  type="number" name="glucosa-plasmatica" value="{{glucosa}}" hidden>
                <input class="form-control"  type="number" name="presion-arterial" value="{{presion}}" hidden>
                <input class="form-control"  type="number" name="espesor-piel" value="{{espesor}}" hidden>
                <input class="form-control"  type="number" name="insulina" value="{{insulina}}" hidden>
                <input class="form-control"  type="number" name="imc" value="{{imc}}" hidden>
                <input class="form-control"  type="number" name="pedigree" value="{{pedigree}}" >
                </div>
                <div class="form-group">
                    <label>EDAD:</label>
                        <input class="form-control" placeholder="Ingresa tu edad" type="number" name="edad" required>
                    
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary" > Diagnosticar</button>
                </div>
                

            </form>
        </div>
    </div>
</div>


{% endblock content %}